@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
}

.navbar .left {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar .right {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shoppingLink,
.homeLink,
.cartLink {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    height: 400px;
    justify-content: space-between;
}

.card .image {
    width: 100%;
    height: 250px;
}

.card .image img {
    width: 100%;
    height: 100%;
}

.card .content {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.card .add,
.card .remove {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #000000;
    border: none;
    padding: 10px;
}

.add:active {
    background-color: white; 
    color: black;
  }

.cartContainer {
    display: flex;
    justify-content: center;
    width: 90vw;
    gap: 20px;
    margin-top: 50px;
}

.cartContainer .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 75%;
    flex-wrap: wrap;
}

.cartContainer .right {
    width: 22%;
    background: #000;
    color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.checkList {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

.cartItems div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-top: 50px;
}

.right button {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: white;
    padding: 8px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
